# Commpiled bindaries
routerd
routerd-engine
*.o
!bpf_*.o
routerd-*.tar.gz
routerd-*-checksums.txt

# Environment & credentials
*.conf
*.toml
*.env

# Editor & OS artifacts
.DS_Store
*.swap
*~

# Kernel headers
bpf/vmlinux.h 
