# routerd binary
/routerd

# build & key artifacts
*.log
privatekey
publickey
*.key
*.conf
!routerd.conf.example
wgcf-account.toml
wgcf-profile.conf

# test artifacts
cover.out
coverage.out
*.test

# editor
.idea/
.vscode/
